.img {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#home-img-1 {
  height: 8em;
  margin: 1em;
}

#home-img-2 {
height: 12em;
margin: 1em;
}

#home-img-3 {
  height: 20em;
  margin: 1em;
}

#home-img-4 {
  height: 10em;
  margin: 1em;
}

#home-img-5 {
  height: 16em;
  margin: 1em;
}

#home-img-6 {
  height: 20em;
  margin: 1em;
}

#home-img-rory-and-dad {
  height: 20em;
  margin: 1em;
}

#home-contact-img {
  height: 20em;
  margin: 1em;
}

// #section3 {
//   clip-path: polygon(0 0, 64% 0, 35% 100%, 0% 100%)
// }
